name: 'Spiral'
scopeName: 'source.sp'
type: 'tree-sitter'
parser: 'tree-sitter-spiral'

fileTypes: ['sp']

injectionRegex: '^sp$|^SP$|spiral|Spiral'


folds: [
  {
    type: ['comment', 'block_comment']
  }
]

comments:
  start: '// '

scopes:
  'program': 'source.sp'
  '"if"': 'keyword.control'
  'string_content': 'string.quoted.double'
